@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Playfair+Display:ital,wght@0,500;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,500;1,400;1,500;1,600&family=Signika:wght@500&display=swap");

.Instagram:hover {
  color: rgb(141, 20, 111);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.whatsapp:hover {
  color: rgb(32, 189, 89);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Twitter:hover {
  cursor: pointer;
  color: rgb(29, 161, 242);
  transition: all 0.3s ease-in-out;
}

.Facebook:hover {
  cursor: pointer;
  color: rgb(66, 103, 178);
  transition: all 0.3s ease-in-out;
}

.Email:hover {
  cursor: pointer;
  color: red;
  transition: all 0.3s ease-in-out;
}

.phoneEmail {
  box-shadow: 3px 2px 5px rgb(5, 92, 92);
}

.Socials {
  box-shadow: 3px 2px 5px rgb(5, 92, 92);
}
.navContainer {
  background-color: transparent !important;
}

.dropdown-menu {
  padding: 0 !important;
}
.navbarContainer {
  /* background-image: url(".././Components/Tiles_background\ -\ navbar.jpg"); */
  background-image: linear-gradient(to right, #9865d6, #199dbe);
}
/* .nav-link:hover{
    
    padding:0px;
    margin-bottom: 0px;
    border-bottom: solid;
    border-bottom-color: rgb(47, 125, 173);
    transition: all 0.2s ease-in;
} */

.nav-link {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: bold;
}
